body {
	font-size: 62.5%;
}

table
{
  border-collapse:collapse;
}

table, tr
{
 border: none;
}

td
{
 padding-right:10px;
}

/* Site
   -------------------------------- */

body {
	font-family: "Impact";
    /* font: bold 20px Impact; */
    color: white;
    background-color: black;
}

div.header {
	padding:12px;
	font-family: "Impact";
}

div.main {
	clear:both;
	padding:12px;
	font-family: "Impact";
	font-size: 20px;
	/*line-height: 1.4em;*/
}

.main * {
	font-family: "Impact";
	font-size: 30px;
	/*line-height: 1.4em;*/
}

td {
	padding-left : 0px;
}
