body { font-size: 62.5%; }

table { border-collapse: collapse; }

table, tr { border: 1px solid #F0F0F0; }

td { padding-right: 10px; }

/* Site
   -------------------------------- */

body { font-family: "Trebuchet MS", "Helvetica", "Arial", "Verdana", "sans-serif"; }

div.header {
    font-family: "Trebuchet MS", "Arial", "Helvetica", "Verdana", "sans-serif";
    padding: 12px;
}

div.main {
    clear: both;
    font-family: "Trebuchet MS", "Arial", "Helvetica", "Verdana", "sans-serif";
    padding: 12px;
    /*font-size: 1.3em;*/
    /*line-height: 1.4em;*/
}