# 
# Documentation: http://EditorConfig.org
# VS15 plug-in: http://visualstudiogallery.msdn.microsoft.com/c8bccfe2-650c-4b42-bc5c-845e21f96328
# Natively supported in VS17
#
# Configure editor for this project to match original project indentation scheme.

[*.cs]
indent_style = space
indent_size = 2
