# top-most editorconfig file
root = true

[*]
insert_final_newline = true
indent_style = space
indent_size = 4
tab_width = 4
trim_trailing_whitespace = true

[*.cs]
# Recommended max_line_length = 100

# New line preferences
