version: 1.0.{build}

image: Visual Studio 2017

configuration: Release

platform: Any CPU

before_build:
  - ps: nuget restore OpenHardwareMonitor.sln
  
build:
  project: OpenHardwareMonitor.sln
  verbosity: minimal

artifacts:
  - path: 'Bin\Release\'
