#include <windows.h>
#include <ntverp.h>

#define VER_FILETYPE                VFT_DRV
#define VER_FILESUBTYPE             VFT2_DRV_SYSTEM

#define VER_FILEDESCRIPTION_STR     "WinRing0"
#define VER_INTERNALNAME_STR        "WinRing0.sys"

/////////////////////////////////////////////////////////////////////////////
//
// Version
//

VS_VERSION_INFO VERSIONINFO
 FILEVERSION 1, 2, 0, 5
 PRODUCTVERSION 1, 2, 0, 5
 FILEFLAGSMASK 0x3fL
 FILEFLAGS 0x0L
 FILEOS 0x40004L
 FILETYPE 0x2L
 FILESUBTYPE 0x0L
BEGIN
    BLOCK "StringFileInfo"
    BEGIN
        BLOCK "041104b0"
        BEGIN
            VALUE "Comments", "The modified BSD license\0"
            VALUE "CompanyName", "OpenLibSys.org\0"
            VALUE "FileDescription", "WinRing0\0"
            VALUE "FileVersion", "1.2.0.5\0"
            VALUE "InternalName", "WinRing0.sys\0"
            VALUE "LegalCopyright", "Copyright (C) 2007-2008 OpenLibSys.org. All rights reserved.\0"
            VALUE "OriginalFilename", "WinRing0.sys\0"
            VALUE "ProductName", "WinRing0\0"
            VALUE "ProductVersion", "1.2.0.5\0"
        END
    END
    BLOCK "VarFileInfo"
    BEGIN
        VALUE "Translation", 0x411, 1200
    END
END
